---
import FractalMaze from '../components/FractalMaze.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Space Maze</title>
		<style>
			body {
				margin: 0;
				background: linear-gradient(180deg, #d8ecff 0%, #79a2cf 100%);
				color: #fff;
				font-family: 'Space Grotesk', sans-serif;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<FractalMaze />
	</body>
</html>
